<form [formGroup]="form">

<div class="form-group">
  <label>Old password</label>

  <input formControlName="oldPassword" type="password"class="form-control">
  <div class="alert alert-danger" *ngIf="oldPassword?.['touched']&&oldPassword?.['invalid']">Old password is required</div>
  <div class="alert alert-danger" *ngIf="oldPassword?.errors?.['isOldPasswordInValid']">Invalid old password</div>
</div>

<div class="form-group">
  <label>New password</label>

  <input formControlName="newPassword" type="password" class="form-control">
  <div class="alert alert-danger" *ngIf="newPassword?.touched&&newPassword?.invalid">New password is required</div>
</div>

<div class="form-group">
  <label>Retype new password</label>

  <input formControlName="retypeNewPassword" type="password"class="form-control">
  <div class="alert alert-danger" *ngIf="retypeNewPassword?.touched&&retypeNewPassword?.invalid">Retyped new password is required</div>
  <div class="alert alert-danger" *ngIf="form.errors?.['areNewPasswordAndRetypedNotMatch']&&retypeNewPassword?.touched">new password and retyped password doesn't match</div>
</div>

<button class="btn btn-primary">Change password</button>
</form>
